extends ./layout/index

block contenido 
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg" alt="", class="img-fluid")
            .col-md-7
                h1=pagina 
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales sem at nibh ultricies, at bibendum nisi feugiat. 

                p ullamcorper vel neque nec vehicula. Nam faucibus ipsum viverra iaculis pellentesque. Phasellus condimentum mauris est, et hendrerit purus vulputate at. Aliquam blandit est sed felis ullamcorper, vitae mattis nunc congue. Morbi augue urna, mollis quis cursus elementum, aliquam nec turpis. 

                p vestibulum convallis odio id ornare. Fusce a lacinia ipsum. Pellentesque sed leo libero. In finibus ut leo nec pellentesque. Morbi augue urna, mollis quis cursus elementum, aliquam nec turpis. Morbi augue urna, mollis quis cursus elementum, aliquam nec turpis. 
                p  Morbi augue urna, mollis quis cursus elementum, aliquam nec turpis. 
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Morbi augue urna, mollis quis cursus elementum, aliquam nec turpis. Morbi augue urna, mollis quis cursus elementum.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Morbi augue urna, mollis quis cursus elementum, aliquam nec turpis. Morbi augue urna, mollis quis cursus elementum.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Morbi augue urna, mollis quis cursus elementum, aliquam nec turpis. Morbi augue urna, mollis quis cursus elementum.

        